

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Signika", serif;
    /* list-style: none; */
    text-decoration: none;
}

/* Header Starts */

main{
    /* border: 2px solid ; */
  
    max-width: 1200px;
    margin-left: 40px;
    width: 100%;
   box-shadow: 0  0 3px rgba(220, 216, 216, 0.568); 
}

header{
   
    /* border: 2px solid; */
    max-width: 1200px;
    margin-left: auto;
    width: 100%;
    height: 180px;
    background-image: url(saylanibg.jpg);
    background-position: 20% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.1;
  
}
.header img{

    width: 260px;
    margin-left:38%;
    position: absolute;
    top: -10px;
   }
.container{
    width: 90%;
    height: 70px;
    left: 60px;
    top: 90px;
    position: absolute;
    display: flex;
   align-items: center;
    gap: 190px;
}
.icons{
    width: 90px;
    margin-left:95px;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-around;
    
}
.icons img{
    width: 30px;
}
h2{
    margin-left: 45px;
    font-family:  "Signika", serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.85);
    line-height:22px ;
    font-size: 32px;
  
}
.portal{
   
    margin-left: 30px;
    width: 160px;
    height: 40px;
  
    
    border: 1px solid rgb(13, 109, 183) ;
    border-radius: 30px;
    position: relative;
  }
  .portal:hover{
    background-color: white;
  }
  .portal a{
    display: inline-block;
    color:rgb(13, 109, 183) ; 
    font-size: 14px;
    padding: 30px;
    padding-top: 10px;
    padding-left: 30px;

  }

   .portal img{
    width: 15px;
    position: absolute;
    top:12px;
    left:13px;
  }

.paras{
    position: absolute;
    top: 150px;
    left: 530px;
    color: rgba(110, 106, 106, 0.85);
    font-size: 16px;


   
}
.anchors{

    margin: 10px 0 0 10px;
    display: flex;
    justify-content:center;
   

}
.anchors a{
   
    padding: 7px;
    font-size: 14px;
    color:rgb(13, 109, 183) ;
    background-color: rgba(241, 241, 241, 0.929) ;
}
.anchors a:first-child{
    color: rgb(141, 198, 63);
    background-color: white;
    border: 1px solid rgb(122, 119, 119);

}

                        /******** form starts**********/
/* first part */
.input{
  
    max-width: 970px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
   }
.label{
    display: flex;
    align-items: center;
    gap: 400px;
    color:rgb(13, 109, 183) ;
    font-size: 14px;
}
.values{
    
    margin-top:10px ;
    display: flex;
    align-items: center;
    gap: 30px;
    color:rgb(13, 109, 183) ;
    font-size: 14px;
}
.values select{
    border: 1px solid rgb(141, 198, 63);
    width: 50%;
    padding: 14px;
    padding-right: 5px;
    border-radius: 10px;
    color: #D9DAD9;
    font-size: 14px;
  }
  .values select:last-child{
    color: black;
  }

.values select:focus{
    border: 1px solid rgb(13, 109, 183);
}

.values select  option{
    border: 2px solid ;
    border-radius: 5px;
    background-color:white;
    color: black;
   }

   /* second part */
   .label-two{
    margin-top: 10px;
    gap: 360px;
   }
   .values-two select{
    color: black;
   }
   .values-two select:last-child{
    color: #D9DAD9;
   }

   /* third part */
   .l-three{
    gap: 430px;

   }
   .fields{
    /* border: 1px solid rgb(141, 198, 63); */
    margin-top:10px ;
    display: flex;
    align-items: center;
    gap: 30px;
    color:rgb(13, 109, 183) ;
    font-size: 14px;
   }
   .fields input{
    border: 1px solid rgb(141, 198, 63);
    width: 50%;
    padding: 14px;
    border-radius: 10px;
    color: #D9DAD9;
    font-size: 14px;
   }
   

   /* fourth part */
   .label-four{
    margin-top:10px ;

    gap: 460px;
   }
   /* p5 */

   .label-five{
    margin-top:10px ;
    gap: 460px;
   }

      /* p6 */
      .label-six{
        margin-top:10px ;
        gap: 410px;
       }
       input[type="date"] {
       color: black;
      }

       .fields select{
        border: 1px solid rgb(141, 198, 63);
        width: 50%;
        padding: 14px;
        border-radius: 10px;
        color: #D9DAD9;
        font-size: 14px;
      }

        /* p7 */
        .newlabel{
            margin-top:10px ;
            color:rgb(13, 109, 183) ;
            font-size: 14px;
        }
        .newfields input{
            margin-top: 10px;
           width: 1000px;
            border: 1px solid rgb(141, 198, 63);
            width: 100%;
            padding: 14px;
            border-radius: 10px;
            color: #D9DAD9;
            font-size: 14px;
        }
        .label-seven{
            margin-top: 10px;
        }
        .values-three select{
            width: 100%;
        }

        .picture-upload{
            border: none;
            /* border: 2px solid ; */
            box-shadow: 0  0 3px rgba(220, 216, 216, 0.568); 
            width: 100px;
            height: 100px;
            margin-top: 5px;
            padding: 13px;
            background-color: #fff;
            border-radius: 10px;
            font-size: 60px;
            display: flex;
            align-items: center;
            position: relative;
            background-color:rgba(255, 255, 255, 0.384);
            transition: all 0.3s ease;
        }

        .picture-upload:hover{
            border: 1.5px dotted rgb(13, 109, 183)  ;
        }

        

        .upload-file {
            font-size: 14px;
            color: #333;
          
         
            border-radius: 5px;
            cursor: pointer;
            
        }
        
        
        input[type="file"] {
            position: absolute;
            cursor: pointer;
            left: -20px;
            opacity: 0;

        }
        .part10-area{
            border: none;
            box-shadow: 0  0 3px rgba(220, 216, 216, 0.568); 
            width: 100%;
            height: 150px;
            padding-left:20px ;
            display: flex;
            align-items: center;
            border-radius: 10px;

        }
        .upload-text pre{
            margin:30px 0 0 -50px;
            font-size: 13px;
            line-height: 17px;
           font-weight: 400;
            color: rgb(69, 67, 67);
        }
        .part11-area{
            /* border: 2px solid; */
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.5;
            color: rgb(69, 67, 67);
           
        }
        .captcha{
            padding: 5px;
            width: 320px;
            margin-top: 20px;
            height: 90px;
            border: 2px solid;
            display: flex;
            align-items: center;
            gap: 7px;
            background-color: #F9F9F9;
            border: 2px solid #F9F9F9;
        }
        .captcha img{
            width: 75px;
            /* border: 2px solid; */
            margin-left: 70px;
            
        }
       
        .captcha p{
            /* border: 2px solid; */
            color: rgb(69, 67, 67);
        }
        .checkbox {
            width: 30px;
            height: 30px;
          
        }
        .lastpart input {
            border: none;
            border-radius: 5px;
            color: white;
            margin-top: 20px;
            padding: 10px;
            width: 100%;
            background-color: #61A0D0;
            font-size: 16px;
        }
        input:focus{
            outline: none;
            border: 1px solid rgb(13, 109, 183);
            color: black
        }
      
   
  










